@import "tailwindcss";

.input {
  @apply w-full p-3 bg-gray-100 rounded-xl outline-none focus:ring-2 focus:ring-blue-500;
}
.btn {
  @apply w-full bg-blue-600 text-white py-3 rounded-full font-bold hover:bg-blue-700 active:scale-95 transition;
}
